h1,div{
    background-color: bisque;
}
.abc{
    background-color: red;
}
.xyz{
    background-color: yellow;
}
.alia{
    background-color: blue;
}
.sharuk{
    background-color: green;
}

#naveen{
    background-color: brown;
}
#priya{
    background-color: aqua;
}